/* Subset of Source Han Sans JP for suits */
@font-face {
	font-family: "Source Han Suits";
	font-weight: 0 2000;
	font-style: oblique 0deg 90deg;
	src: url("./fonts/SourceHanSuits.woff2") format("woff2");
}

html {
	font-family: "Open Sans", "Source Han Suits", sans-serif;
	hyphens: auto;
}

.♥,
.♦ {
	color: #d33;
}

.variants {
	counter-reset: variant;
}

.variants > li {
	list-style: none;
}

.variants > li:before {
	content: "(" counter(variant, lower-alpha) ") ";
	counter-increment: variant;
}