html {
	hyphens: auto;
}

.♥,
.♦ {
	color: #d33;
}

.variants {
	counter-reset: variant;
}

.variants > li {
	list-style: none;
}

.variants > li:before {
	content: "(" counter(variant, lower-alpha) ") ";
	counter-increment: variant;
}